# Ignore all files except for the following
.vscode
node_modules
dist
*.ts
*.js
*.json
*.map
*.md
*.yaml
*.yml
*.lock
*.log
*.tgz
*.zip
*.tar
*.tgz
*.bak
*.swp
*.DS_Store
*.env
*.local
*.test.ts
*.spec.ts
*.test.js
*.spec.js
coverage
test
resources/schemas/settings.schema.json